  <!-- <app-header></app-header> -->
<app-header></app-header>

<div class="fullcontainer">


    <div class="brand-logo">
        <img src="../../assets/images/jitu.png" alt="">
    </div>

    <div class="container">
    
    <div class="brand-title">LOG IN</div>
    <div class="inputs">
      <label>EMAIL</label>
      <input type="email" placeholder="example@test.com" />
      <label>PASSWORD</label>
      <input type="password" placeholder="Min 6 charaters long" />
      <button routerLink="/dashboard/all" type="submit">LOGIN</button>
    </div>
    <a routerLink="/signup" class="direct">Not a User? Click Here to Sign Up</a>
  </div>


</div>
