
<div class="fullcontainer">


    <div class="brand-logo">
        <img src="" alt="">
    </div>

    <div class="container">
    
    <div class="brand-title">SIGN UP</div>
    <div class="inputs">
      <label>NAMES</label>
      <input type="text" placeholder="Full Names" />
      <label>USERNAME</label>
      <input type="text" placeholder="username" />
      <label>EMAIL</label>
      <input type="email" placeholder="example@test.com" />
      <label>PASSWORD</label>
      <input type="password" placeholder="Min 6 charaters long" />
      <button type="submit">SIGN UP</button>
    </div>
    <a rou routerLink="/login" class="direct">Already a User? Click Here to Log In</a>
   
  </div>


</div>
